 .create-form {

    margin: 100px 100px 15px ;
    display: flex;
    justify-content: center;
    flex-flow:column;
    
}

.input, .submit, h2 {
    padding-top: 12px;
    margin: auto;
   
}
.login-error {
    display: flex;
    justify-content: center;
    color: red;
    font-weight: bold;
}


